streamlit
pandas
numpy
plotly
pyyaml
wordcloud
matplotlib
youtube-search
youtube-comment-downloader
youtube-transcript-api
langchain
langchain-community
langchain-openai
openai
langgraph
faiss-cpu
yt-dlp
pydub
librosa
langchain-ollama
ollama
